@font-face {
	font-family: 'bnazanb';
	src: local('bnazanb'), url('./bnazanb.woff') format('woff');
}
.Bnazanin {
	font-family: 'bnazanb' !important;
}

*{
    text-decoration: none;
}
body{
    background-color: #DFF2EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 25vh;
}
.startp{
    height:max-content;
    width: 300px;
    padding: .8vh;
    border: 1px #4A628A solid;
    border-radius: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #4A628A;
    font-size: 2.5vh;
    margin-top: 1vh;
}
.head1{
    direction: rtl;
    font-size: 2.8vh;
}
.p1{
    font-size: 2vh;
    direction: rtl;
}
.head2{
    direction: rtl;
    font-size: 2.4vh;
}
.register{
    direction: rtl;
    background-color: #4A628A;
    color: white;
    border-radius: 3vh;
    padding: 2vh;
    width: 300px;
    height: max-content;
}
.register1{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #7AB2D3;
    color: #4A628A;
    border-radius: 3vh;
    padding: .3vh;
    margin-top: 1vh;
    width: 350px;
    height: max-content;
}
